# Start by ignoring all

*
/*
**/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Not ignore file I want to push


!lemp
!lemp.env
!lemp.bin/
!lemp.bin/**
!lemp.core/
!lemp.core/**
!build/
!build/**
# !nginx/
# !nginx/**
# !php/
# !php/*
# !mysql/
# !mysql/**
lemp.core/mysql/db/
# !mysql/scripts/*

# End by ignoring git files

**/.git
**/.gitignore
!.gitignore
!README.md